.todo-item{
    display: inline;
    padding: 10px;
}
.fatrash{
    background-color:tomato;
    color: whitesmoke;
    width:70px;
    border: 2px solid green;
}
.facheck{
    background-color: violet;
    color: whitesmoke;
    width:70px;
    border: 2px solid green;
}
.todo-list{
    text-decoration: none;
   
}